<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h2>All users</h2>
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Last name</th>
        <th>Age</th>
    </tr>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.getId()}"/>
        <td th:text="${user.getName()}"/>
        <td th:text="${user.getLastName()}"/>
        <td th:text="${user.getAge()}"/>
        <td>
            <a th:href="@{'/edit?id='+${user.getId()}}">Edit</a>
        </td>
        <td>
            <a th:href="@{'/delete?id='+${user.getId()}}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
<br>
<button onclick="window.location.href = '/new'">Add new user</button>
</body>
</html>
